<h2>Edit Restaurant</h2>

<%= form_with model: @restaurant, local: true, enctype: "multipart/form-data" do |form| %>
  <% if @restaurant.errors.any? %>
    <div>
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :review %>
    <%= form.text_area :review, class: "textarea-large" %>
  </div>

  <div class="markdown-options">
    <pre>
      **Bold Text**: Makes text bold.
      *Italic Text*: Makes text italic.
      `Code`: Renders text as code block.
      [Link](http://example.com): Creates a hyperlink.
      - List item: Creates a list.
    </pre>
  </div>

  <div>
    <%= form.label :photos %>
    <%= form.file_field :photos, multiple: true, direct_upload: true, class: 'photo-upload', onchange: 'previewPhotos(event)' %>
    
    <div id="photo-preview" class="edit-restaurant-images">
      <% if @restaurant.photos.attached? %>
        <% @restaurant.photos.each do |photo| %>
          <div class="existing-photo">
            <%= image_tag(photo, class: "restaurant-photo") %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.submit "Update Restaurant" %>
  </div>
<% end %>

<%= link_to 'Back', admin_dashboard_index_path %>



<script>
  function previewPhotos(event) {
    const photoPreview = document.getElementById('photo-preview');
    const files = event.target.files;

    if (files.length > 0) {
      const currentPreviewImages = photoPreview.querySelectorAll('.restaurant-photo');
      currentPreviewImages.forEach(img => img.remove());
    }

    for (let i = 0; i < files.length; i++) {
      const file = files[i];
      const reader = new FileReader();

      reader.onload = function(e) {
        const img = document.createElement('div');
        img.classList.add('preview-photo');
        img.innerHTML = `<img src="${e.target.result}" class="restaurant-photo">`;
        photoPreview.appendChild(img);
      }

      reader.readAsDataURL(file);
    }
  }
</script>
