<div class="restaurants-container">
  <%= link_to 'back', restaurants_path %>
  <p class="restaurant-name-unclickable"><%= @restaurant.name %></p>
  <p class="restaurant-address"><%= @restaurant.address %></p>
  <p class="restaurant-review"> <%= markdown(@restaurant.review) %></p>

  <% if @restaurant.photos.any? %>
    <div class="restaurant-photos">
      <% @restaurant.photos.each do |photo| %>
        <%= image_tag(photo, class: "restaurant-photo") %>
      <% end %>
    </div>
  <% end %>
</div>
